* {
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin: auto 15%;
}

header {
    background-color: #ebebeb;
    padding: 20px;
    margin: 15px;
    text-align: center;

 


}
nav {
    background-color: #ebebeb;
    padding: 20px;
    margin: 15px;
}
section {
    background-color: #ebebeb;
    width: 495px;
    height: 300px;
    padding-top: 20px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;

    
}
aside {
    background-color: #ebebeb;
    width: 400px;
    height: 300px;
    float: right;
    padding-top: 20px;
    margin: 15px;
    

}

article {
    color: both;
    color: #ebebeb;
    background-color: #777;
    width: 400px;
    padding: 10px;
    position: relative;
    top: 10%;
    left: 7.5%;
    right: 10%;
    bottom: 10%;

}

h1 {
    color: #777;
    background-color: #ebebeb;
    padding: 10px;
}

p {
    color: #777;
    background-color: #ebebeb;
    padding: 10px;
}

footer {
    clear: both;
    background-color: #ebebeb;
    padding: 20px;
    margin: 15px;
}

